<!DOCTYPE html>
<html lang ="en">
<head>
  <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/styles.css">
  <link rel = "stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css">
  <meta charset = "UTF-8">
  <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>page-new</title>
</head>
<body>
<nav class="nav navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--arrow mark-->
    <p class="navbar-text pull-left ">
      <a href="../user/profile.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <div class=".left-custom">
      <p class="navbar-header pull-left ">
        <a class="navbar-brand thick ">
          <b>Edit Page</b>
        </a>
      </p>
    </div>


    <!--check mark-->
    <p class="navbar-text pull-right">
      <a href="website-new.html" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>
  </div>
</nav>
<!-- Footer -->
<nav class="nav navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
<div class=" container-fluid top-custom ">
  <lable>Name</lable>
  <input class="form-control"
         placeholder="Page Name"/>

  <lable >Title</lable>
  <input class="form-control "
         placeholder="Page Title"/>
  <button class="btn btn-danger btn-block top-custom">
    Delete
  </button>

</div>

</body>
