<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/styles.css">
  <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css">
  <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>home</title>
</head>
<body>
<div class="container-fluid home-header">
  <a href="login.html" class="button">
  <h1 style="text-align:center;
      font-family:Verdana;
      font-size:300%;
      background-color:powderblue">
    Welcome to Ding's Website Assignement !</h1>
  </a>
</div>
<div style="
  vertical-align:middle ;
  text-align:center ;
  dispaly:table-cell">
<img  width= 40% src="https://i.pinimg.com/736x/1d/3b/8e/1d3b8e3c20793a25a32de080956cb41a--emoji-faces-smiley-faces.jpg">
</div>
</body>
</html>
