<nav class="nav navbar navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">

    <!--arrow mark-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/profile', userId]" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <div class=".left-custom">
      <p class="navbar-header pull-left ">
        <a class="navbar-brand thick ">
          <b>Websites</b>
        </a>
      </p>
    </div>


    <!--plus mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile', uid, 'website','new']" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>
    <!-- Footer -->
    <nav class="nav navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <p class="navbar-text pull-right">
          <a [routerLink]="['/profile',userId]" class="navbar-link">
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </p>
      </div>
    </nav>
  </div>
</nav>
<!-- website lists -->


<div class="container-fluid top-custom ">
  <ul class="list-group">
    <li  *ngFor = "let website of websites"
         class="list-group-item">
      {{website.name}}
      <a (click)="deleteWebsite(website._id)" class="pull-right">
        <span class = "glyphicon glyphicon-remove"></span>
      </a>
      <a (click)="selectWebsite(website._id)">
      <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
  </ul>
</div>



