<div class="container">



  <h1>Login</h1>



    <input    [(ngModel)] = "username"
              placeholder="username"
              name = "username"
              type="text"
              class="form-control"
              required
              #username1 = "ngModel"/>



    <input   [(ngModel)] = "password"
             placeholder="password"
             name = "password"
             type="password"
             class="form-control"
             required
             #password1 = "ngModel"/>


    <button class="btn btn-primary btn-block"
            type="submit"
            (click) = "login(username,password)">Login</button>
      <br/>


    <button class="btn btn-success btn-block"
            (click)="register(username,password)">Register</button>






</div>
