<nav class="nav navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--arrow mark-->
    <p class="navbar-text pull-left ">
      <a [routerLink]="['/profile','website',websiteId,'page',pId,'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <div class=".left-custom">
      <p class="navbar-header pull-left ">
        <a class="navbar-brand thick ">
          <b>Choose Widget</b>
        </a>
      </p>
    </div>

  </div>
</nav>
<!-- Footer -->
<nav class="nav navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>

</nav>

<!-- website lists -->
<div class="container-fluid top-custom ">
  <ul class="list-group">
    <li (click) = "createWidget('HEADING')"class="list-group-item">
      <a >
        Header
      </a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/profile','website',websiteId,'page',pId,'widget']">
        Label
      </a>
    </li>
    <li (click) = "createWidget('HTML')" class="list-group-item">
      <a >
        HTML
      </a>
    </li>
    <li (click) = "createWidget('TEXT')" class="list-group-item">
      <a >
        Text Input

      </a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/profile','website',websiteId,'page',pId,'widget']">
        Link

      </a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/profile','website',websiteId,'page',pId,'widget']">
        Button

      </a>
    </li>
    <li (click) = "createWidget('IMAGE')" class="list-group-item">
      <a >
        Image

      </a>
    </li>
    <li (click) = "createWidget('YOUTUBE')" class="list-group-item">
      <a >
        YouTube

      </a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/profile','website',websiteId,'page',pId,'widget']">
        Data table

      </a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/profile','website',websiteId,'page',pId,'widget']">
        Repeater

      </a>
    </li>
  </ul>
</div>

