<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 hidden-xs">
      <nav class="nav navbar navbar-inverse my-navbar-top ">
        <!--arrow mark-->
        <p class="navbar-text pull-left">
          <a [routerLink]="['/profile',uid,'website']" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>

        <!--heading on the nav bar-->
        <div class=".left-custom">
          <p class="navbar-header pull-left ">
            <a class="navbar-brand thick ">
              <b>Websites</b>
            </a>
          </p>
        </div>
        <!--plus mark-->
        <p class="navbar-text pull-right">
          <a [routerLink]="['/profile',uid,'website','new']" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>
      </nav>
    </div>
    <div class="col-sm-9">
      <nav class="nav navbar navbar-inverse my-navbar-top">
        <!--heading on the nav bar-->
        <div class=".left-custom">
          <p class="navbar-header pull-left ">
            <a class="navbar-brand thick ">
              <b>New Website</b>
            </a>
          </p>
        </div>
        <!--check mark-->
        <p class="navbar-text pull-right">
          <a [routerLink]="['/profile',uid,'website']" class="navbar-link">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </nav>
    </div>
  </div>
  <!-- Footer -->
  <nav class="nav navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a [routerLink]="['/profile',uid]" class="navbar-link">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </p>

    </div>
  </nav>
</div>

<div class="col-sm-3 hidden-xs top-custom">
  <ul class="list-group">
    <li  *ngFor = "let website of websites"
         class="list-group-item">

      <a [routerLink]="['/profile', uid, 'website', website._id, 'page']">
        {{website.name}}
        <a [routerLink]="['/profile',uid,'website',website._id]">
      <span class="glyphicon glyphicon-cog pull-right">
      </span>
        </a>
      </a>
    </li>
  </ul>
</div>


<div class="col-sm-9 top-custom ">
  <lable>Name</lable>
  <input [(ngModel)] ="websitename" class="form-control" name = "websitename"/>
  <lable>Description</lable>
  <textarea [(ngModel)] = "description" class="form-control " name="description"
            rows="8"></textarea>
  <br/>
  <button (click) = "createWebsite(websitename,description)"
                                    class = "btn btn-block btn-primary">
  Create Website</button>


</div>
