<div class="container-fluid">
  <h1>Register</h1>

  <input [(ngModel)] = "username"
         placeholder="username"
         type="text"
         id="username"
         class="form-control"
          name = "username"/>
  <input [(ngModel)]="password"
         placeholder="password"
         type="password"
         id="password"
         class="form-control"
         name = "password"
          />
  <input placeholder="verify password"
         [(ngModel)] = "vpassword"
         name = "vpassword"
         type="password"
         id="verify password"
         class="form-control"
         />
  <a (click) ="regSuccess(username, password)" class="btn btn-primary btn-block">
    <button class="btn btn-primary btn-block"
             type = "submit"
             >
    Register
    </button>
  </a>
  <a  (click)="deleteUser(user._id)"  class="buttom">
    <button class="btn btn-danger btn-block left-custom" routerLink="/login">
      Cancel
    </button>
  </a>
</div>
