 <nav class="nav navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--arrow mark-->
    <p class="navbar-text pull-left ">
      <a [routerLink]="['/profile', 'website',websiteId,'page', pId,'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <div class=".left-custom">
      <p class="navbar-header pull-left ">
        <a class="navbar-brand thick ">
          <b>Widget Edit</b>
        </a>
      </p>
    </div>
    <!--check mark-->
    <p class="navbar-text pull-right ">
      <a (click) = "updateWidget(text, url, width)"
        [routerLink]="['/profile', 'website',websiteId,'page', pId,'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-ok "></span>
      </a>
    </p>

  </div>
</nav>
<!-- Footer -->
<nav class="nav navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>

</nav>


<div class="container-fluid top-custom ">
  <lable>Name</lable>
  <input [(ngModel)]="widgetType"
         class="form-control"
         name = "widgetType"/>
  <lable>Text</lable>
  <input [(ngModel)]="text"
         class="form-control"
         type="text"
          name = "text"/>
  <lable>URL</lable>
  <input [(ngModel)]="url"
        class="form-control"
         type ="url"
         value ="http://lorempixel.com/400/200"
         name ="url"/>
  <lable>Width</lable>
  <input [(ngModel)]="width"
         class="form-control"
         value="100%"
         name = "width"/>





  <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">

    <input  name="myFile"   type="file" class="form-control"/>
    <input  name="widgetId" value="{{widgetId}}"   style="display: none"/>
    <input  name="websiteId" value="{{websiteId}}"   style="display: none"/>
    <input  name="pageId" value="{{pId}}"   style="display: none"/>
    <input  name="userId" value="{{userId}}"   style="display: none"/>
    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
    <br/>

  </form>
  <a class="btn btn-primary btn-block "

     [routerLink]="['/profile/'+  '/website/'+websiteId+'/page/'+pId+'/widget/'+widgetId+'/flickr']" >Choose From Flickr</a>


  <div class="left-custom">
    <a [routerLink]="['/profile', 'website',websiteId,'page', pId,'widget']" class="button">
      <button (click)="deleteWidget(pId,widgetId)" class="btn btn-danger btn-block ">
        Delete
      </button>
    </a>
  </div>


</div>

